{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="center">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success" value="Sign In"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}