body {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 50px;
    min-height: 100vh;
    margin: 0;
}

.starter-template {
    padding: 1rem 1.5rem;
}

.row-space {
    margin-top: 3rem;
}

.center {
    margin: auto;
    max-width: 300px;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


