{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="text-center">
        <br/>
        <h3>Please log in using your Google account</h3>
        <br/>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}" class="btn btn-outline-dark">
            <img src="{% static 'accounts/img/google_logo.png' %}">
            Sign in with Google
        </a>
    </div>

{% endblock %}