{% load static %}
{% if request.user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">

            {% if request.user.is_superuser %}
                <h6 class="dropdown-header">Administration</h6>
                <a class="dropdown-item"
                   href="{% url 'admin:index' %}">Admin</a>
                <div class="dropdown-divider"></div>
            {% endif %}

            <h6 class="dropdown-header">Profile</h6>
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'auth_logout' %}">Logout</a>


        </div>
    </li>
{% else %}
    <!--
    <form class="form-inline " method="POST" action="{% url 'auth_login' %}">
        {% csrf_token %}
        <div class="form-group my-2 my-lg-0">
            <input type='text' class='form-control mr-sm-2' name="username" placeholder="Username">
            <input type='password' class='form-control mr-sm-2' name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0 mr-sm-2">Sign In</button>

    </form>
    -->
    <div class="container">
        <a href="{% url 'social:begin' 'google-oauth2' %}">
            <img class="btn btn-light" src="{% static 'accounts/img/google_logo.png' %}" width="45" height="38">
        </a>
    </div>
{% endif %}