{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

    {% if messages %}

        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    <strong>Well done!</strong> {{ message }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    <strong>Failed!</strong> {{ message }}
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}

    <h1>Profile</h1>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4"></div>
    </div>

    <h2>User information:</h2>
    <div class="row">
        <div class="col-md-6">
            <br>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="inputFirstName"><b>First name:</b></label>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputFirstName" aria-describedby="Your first name"
                           placeholder="{{ request.user.first_name }}" disabled>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="inputLastName"><b>Last name:</b></label>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputLastName" aria-describedby="Your last name"
                           placeholder="{{ request.user.last_name }}" disabled>
                </div>


            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="inputEmail"><b>Email:</b></label>
                </div>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmailName" aria-describedby="Your email address"
                           placeholder="{{ request.user.email }}" disabled>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                {% if profile.url_face %}
                    <img src="{{ profile.url_face }}" class="rounded mx-auto d-block" height="250"
                         width="250">
                {% else %}
                    <img src="{% static 'accounts/img/profile_pic.png' %}" class="rounded mx-auto d-block" height="250"
                         width="250">
                {% endif %}
            </div>
        </div>
    </div>

    <h2>Devices:</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Current device</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Device information</h6>
                        <p class="card-text">
                            <b>IPv4 address: </b>{{ ipv4_address }}<br>
                            Please check if you are connected to Wi-Fi '<b>Turris</b>'.
                        </p>
                        <div class="text-right">
                            <button type="button" class="btn btn-success"
                                    onclick="registration({{ request.user.id }})">Register this device
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <table id="device-table" class="table table-bordered table-hover table-sm">
                    <thead class="thead-default">
                    <tr>
                        <th>ID</th>
                        <th>MAC address</th>
                        <th>Action(s)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in devices %}
                        <tr id="device-table-row">
                            <th scope="row">{{ device.id }}</th>
                            <td>{{ device.mac_address }}</td>
                            <td>
                                <a data-method="delete" href="{% url 'presence_logger:device-delete' id=device.id %}"
                                   class="btn btn-danger btn-sm"
                                   rel="nofollow">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'accounts/js/registration.js' %}"></script>
{% endblock %}
