{% extends 'presence_logger/base.html' %}

{% block title %}
    About
{% endblock %}

{% block page %}
    <div class="row-space">
        <h2>Turris - starpin</h2>
        An app called "starpin" (STealthy ARP INformer) written in Ruby is running on the Turris access point
        as a service. This app observes the list of wirelessly connected devices (it used to be the ARP table)
        and notifies the Hub about any changes via a REST API. starpin is set to start upon boot. It supports logging
        and is controllable via the /etc/init.d/starpin script. It can recover from connection losses and resets the
        session automatically after a preset interval to prevent any long-time desynchronization.
    </div>

    <div class="row-space">
        <h2>Server</h2>
        A web application called "Nucleus Hub" (written in Python using the Django framework) running on a Raspberry Pi 3
        serves as a hub for the
        connected services. It receives data from the starpin utility and uses them to evaluate the current state of
        the network (connected devices). It supports authentication via OAuth and allows users to
        sign in with their Google accounts. After the registration every user is able to register their devices via the
        builtin registration mechanism, which ties the MAC address of the device to the user's account. This can be then
        used to determine whether a user is present.
        Nucleus Hub also exposes an API to the eClub Camera and is able to match received pictures (recognized by AWS)
        with the Hub users.
    </div>

    <div class="row-space">
        <h2>Diagram</h2>

             class="img-fluid">
    </div>

    <div class="row-space">
        <h2>Futures ideas</h2>
        TODO
    </div>

    <div class="row-space">
        <h2>Codes</h2>
        All our codes are open-source under MIT licence and you can access them on our <a
            href="https://gitlab.com/eclubiot">Gitlab</a>
    </div>
{% endblock %}