{% extends 'presence_logger/base.html' %}
{% block title %}
    Dashboard
{% endblock %}

{% block page %}
    {% load static %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Present users:</h2>
                <p class="lead">
                    Currently present club's users.
                </p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="container text-right">
                        {% include 'presence_logger/refresh_times.html' %}
                    </div>
                </div>
                <div class="row">
                    <div class="container text-right">
                        <p class="lead" id="clock"></p>
                    </div>
                </div>

            </div>
        </div>
        <table id="presence-table" class="table table-striped table-sm">
            <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Fullname</th>
                <th>Active device(s)</th>
                <th>Last photo</th>

            </tr>
            </thead>
            <tbody>
            {% for present_user in present_users %}
                <tr id="presence-table-row">
                    <th scope="row">
                        <i class="material-icons" style="color:#75ff33">tag_faces</i>
                    </th>
                    <td>{{ present_user.first_name }} {{ present_user.last_name }}</td>
                    <td>{{ present_user.active_devices }}</td>
                    {% if present_user.profile.url_face %}
                        <td><a href="{{ present_user.profile.url_face }}">Link</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% for absent_user in absent_users %}
                <tr id="presence-table-row">
                    <th scope="row">
                        <i class="material-icons" style="color:#f44336">face</i>
                    </th>
                    <td>{{ absent_user.first_name }} {{ absent_user.last_name }}</td>
                    <td>{{ absent_user.active_devices }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- Main js support -->
    <script src="{% static 'presence_logger/js/auto_refresh.js' %}"></script>

    <script type=text/javascript>
        $(start_time());
        $(update_refresh_time());
        $(update_tables());
    </script>
{% endblock %}
