<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {% if "presence-logger" in request.path %} active {% endif %}"
       id="dropdown01" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Presence-logger</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item {% if "presence-logger/dashboard" in request.path %} active {% endif %}"
           href="{% url 'presence_logger:dashboard' %}">Dashboard</a>
        <a class="dropdown-item" href="{% url 'presence_logger:api-root' %}">Browsable API</a>
        <a class="dropdown-item {% if "presence-logger/about" in request.path %} active {% endif %}"
           href="{% url 'presence_logger:about' %}">About</a>
    </div>
</li>

