<div class="btn-group" data-toggle="buttons" id="time" onchange="select_refresh_time()">
    {% for time in refresh_times %}
        <label class="btn
                            {% if time == refresh_time %}
                                btn-primary active
                            {% else %}
                                btn-secondary
                            {% endif %}
                            " id="time-select-label-{{ time }}">
            <input type="radio"
                   name="time-select"
                   id="time-select-{{ time }}"
                   autocomplete="off"
                   value="{{ time }}"
                    {% if time == refresh_time %}
                   checked
                    {% endif %}
            >
            {{ time }}s
        </label>
    {% endfor %}
</div>
